hmtl{
	font-family: "Lucida Console";
}
.event-thumbnail-main-col{
	margin-top: 20px;
	border: 1px solid #afb3b6;
    border-radius: 3px;
}
.event-thumbnail-col {	
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
}
.btn-default {
	border: 0;
	color:#ffffff;
	background-color: #99cc00;
	text-align:center;
	font-size: 14;
	font-weight: bold;
}

.dropdown-menu {
	width: 200%;

}

.event-title {
	font-size: 150%;
	font-weight: bold;
	
}

.event-detail-col{
	padding-top: 30px;
}

.profile-info {
	padding-top: 50px;
}

.user-comment{
	margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.user-thumbnail-photo{
	max-height: 100px;
}

.error-input{
	color: rgb(255,0,0);
	font-style: italic;
}

.noResults{
	padding-top: 20px;
}

.server-resp {
	padding: 5px 0px 5px 0px;
	font-style: bold;
	font-size: 16px;
}
