<div id="signupModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h1>Sign Up</h1>
	      </div>

	      <div class="modal-body">
	      		<div class="container-fluid">
					<div class="col-sm-6">
						<form id="signup-form" method="get" action="">
							<div class="form-group">
							  <label for="username">Username:</label>
							  <input type="text" class="form-control" id="username" ng-model="username" placeholder="Username" required minlength="3"/>
							</div>

							<div class="form-group">
							  <label for="password">Password:</label>
							  <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password" required minlength="6" /> 
							</div>

							<div class="form-group">
							  <label for="password2">Confirm password:</label>
							  <input type="password" class="form-control" id="confirm_password" placeholder="Password" required minlength="6" equalTo="#password" /> 
							</div>

							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>

				</div>
		      </div>
		</div>
	</div>
</div>

<script type="text/javascript" src="validation.js"></script>
