<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-7 col-xs-7 col-sm-offset-1 event-thumbnail-main-col">
			<div class = "col-md-3 event-thumbnail-col ">
				<img src = "{{event.image}}" class = "img-rounded img-responsive" alt = "{{event.title}}"></img>
			</div>	
			<div class = "col-md-4 col-md-offset-1 col-sm-offset-1 event-thumbnail-col event-detail-col">
				<span class = "event-title text-center"> {{event.title}} </span> <br></br>
				<span class = "event-detail text-center">Location:{{event.location.street_number}} {{event.location.street_name}},  {{event.location.city}} {{event.location.zip_code}}</span> <br></br>
				<span class = "event-detail text-center">Date: {{event.date}} {{event.startTime}} - {{event.endTime}}</span><br></br>
				<span class = "event-detail text-center">Organizer: <a href = '#!/user-profile/{{event.organizer.id}}'>{{event.organizer.first_name}} {{event.organizer.last_name}}</a></span> 
				
			</div>
			<div class = "col-md-2 col-md-offset-2  col-sm-offset-1  event-thumbnail-col event-detail-col">
				<img src = "/static/main/img/group-going.png" alt = "group"></img><span class = "event-detail">  {{event.going}} Going </span> <br></br>  <br></br>
				
				<a class="btn btn-default" ng-show = "isOrganizer" ng-click="deleteEvent()">Delete event</a> </br></br>
				<a href="#!/new-event/{{event.id}}"  ng-show = "isOrganizer" class="btn btn-default">Edit event</a>
				
				<button type="button" class="btn btn-default"  ng-show = "isNotOrganizer" data-toggle="modal" data-target="#alertModal" ng-click ="going()" name = "going">I'm Going!</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-7 col-xs-7 col-sm-offset-1 event-thumbnail-main-col">
			<div class = "col-md-1 col-md-offset-2 event-thumbnail-col">
				<p><b> Description: </b></p>
			</div>
			<div class = "col-md-6  event-thumbnail-col">
				<p>{{event.description}}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-sm-7 col-xs-7 col-sm-offset-1 event-thumbnail-main-col">
			
				<div class="row">
					<div class = "col-md-2 col-md-offset-2 event-thumbnail-col">
						<b> Media:</b>
					</div>
					<div class = "col-md-2 col-md-offset-6 event-thumbnail-col">
						<a href="" data-target="{{targetMedia}}" data-toggle="modal" class="btn btn-default" ng-click='checkPermission()'>Add image</a>
					</div>
				</div>	
				<div class = "col-md-9 col-md-offset-2 event-thumbnail-col">					
					
				<div class = "wrapper">
					<div class="jcarousel-wrapper">
						<div media-jcarousel class="jcarousel">
							<ul>
								
								<li ng-repeat = "imgSrc in event.media_list"><img src="{{imgSrc.path}}" alt="eventMedia"></li>
								
							</ul>
							
						</div>
						
						<a href="#"  class="jcarousel-control-prev" media-content-arrows = "{target: '-=1'}">&lsaquo;</a>
						
					
						<a href="#" class="jcarousel-control-next" media-content-arrows = "{target: '+=1'}">&rsaquo;</a>
					
						<p class="jcarousel-pagination" media-Content-Pagination></p>
					</div>
				</div>
				
			</div>
		
		</div>
	</div>
	<div class="row" >
		<div class="col-md-10 col-md-offset-1 col-sm-7 col-xs-7 col-sm-offset-1 event-thumbnail-main-col">
			<div class="row" > 
				<div class = "col-md-2 col-md-offset-2 event-thumbnail-col">
					<b> Comments:</b>
				</div>
				<div class = "col-md-2 col-md-offset-6 event-thumbnail-col">
					<a href="" data-target="{{targetComment}}" data-toggle="modal" ng-click='checkPermission()' class="btn btn-default">Add comment</a>
				</div>
			</div>
			<div class = "row" ng-repeat = "comment in comments" >
				<div class = "row in-comment-row">
					<div class = "col-md-2 col-md-offset-2 event-thumbnail-col">
						<img src = "{{comment.userId.profile_pic}}" class = "img-rounded img-responsive user-thumbnail-photo"></img>
					</div>
					<div class = "col-md-5 event-thumbnail-col user-comment">
						<p><b><a href = '#!/user-profile/{{comment.userId.id}}'>{{comment.userId.name}} {{comment.userId.last_name}}:</a></b></p>
						<p>{{comment.body}}</p>
					</div>
				</div>
				<div class = "row in-comment-row">
					<div class = "col-md-2 col-md-offset-8 event-thumbnail-col">
						<button type="button"  class="btn  btn-sm">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> {{comment.liked}}
						</button>
						<button type="button"  class="btn  btn-sm">
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{comment.disliked}}
						</button>
					</div>
				</div>
				
				
			</div>
			
		</div>
	</div>
	
</div>
<div id="addImageModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content container-fluid">
	      
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h1>Choose image</h1>
	      </div>
	      
	      <div class="modal-body">		      
			<div class="container-fluid">
					
				<div class="form-group">
					
					<label for="image">Copy here image URL:</label>
					<div class = "row">
						<div class="col-sm-6">
							<input type="text" class="form-control" id="image" ng-model = 'image' name="image" placeholder="Image URL"/>
						
						</div>
						<div class = "col-sm-6">
							<input type = "button" class="btn btn-default" ng-click= "getImage()"  name = "useImage" value = 'Use image' data-dismiss="modal">
						</div>	
					</div>	
				</div>	
				<div ng-if="image">
					<img src = "{{image}}" class = "img-rounded img-responsive" alt = "Invalid URL"></img>
				</div>
		</div>
	</div>
	</div>
</div>
</div>
<div id="addCommentModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content container-fluid">
	      
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h1>Add comment</h1>
	      </div>
	      
	      <div class="modal-body">		      
			<div class="container-fluid">
				<form id = "newCommentForm" >	
				<div class="form-group">
					
					
					<div class = "row">
						<div class="row">
						<div class="form-group col-sm-12">
							  <label for="eventdetail">Comment: </label>
							  <textarea class="form-control" rows="5" id="eventdetail" ng-model="newComment" placeholder="Enter here your comment" required></textarea>
							</div>
						</div>
					</div>
					<div class = "row">	
						<div class = "col-sm-6">
							<input type = "button" class="btn btn-default" ng-click= "submitComment()"  name = "useImage" value = 'Submit comment' data-dismiss="modal">
						</div>	
					</div>	
				</div>	
			 </form>	
		</div>
	</div>
	</div>
	</div>
</div>

<div id="alertModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content container-fluid">
	      
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4>{{alertMsg}}</h4>
	      </div>
	</div>
	</div>
</div>





