
<div class="container-fluid">
	<div class="page-header">
	  <h1>Add New Event</h1>
	</div>
<form id="newevent-form">
	<div class="form-group">
	  <label for="eventname">Event name:</label>
	  <input type="text" class="form-control" id="eventname" name="eventname" ng-model="name" placeholder="Event name" required minlength="6" /> 
	</div>
	<div class="form-group">
	  <label>Location: </label>
	  <div class="row">
	  		<div class="col-sm-3">
	  			<input type="text" class="form-control" id="streetnumber" placeholder="Street number" ng-model="streetnumber" required />
	  		</div>
	  	  	<div class="col-sm-7">
	  	  		<input type="text" class="form-control" id="streetname" placeholder="Street name" ng-model="streetname" required minlength="3" />
	  	  	</div>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="streetname" placeholder="Zipcode" ng-model="zip" required minlength="5" />
			</div>
	  </div>
	</div>
	<div class="row">
		<div class="form-group col-sm-5">
			<label class="radio-inline"><input type="radio" name="city" ng-model="city" required/>St. Paul</label>
			<label class="radio-inline"><input type="radio" name="city" ng-model="city"/>Minneapolis</label>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3" >
			 
	  </div>
	</div> 
  

	<div class="row">
		<div class="form-group col-sm-12">
		  <label for="eventdetail">Event details: </label>
		  <textarea class="form-control" rows="5" id="eventdetail" ng-model="detail" placeholder="Descriptions for your event" required minlength="20"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-2">
		  <input type="file" name="pic" accept="image/*" ng-model="image" placeholder="No file chosen"/>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-2">
		  <button type="submit" class="btn btn-default">Create event</button>
		</div>
		
	</div>
</form>
		
</div>
<script type="text/javascript" src="/static/main/scripts/validation.js"></script>


