<div class="container-fluid profile-info">
<div class="row">
		<!-- profile info goes here -->
		<div class = "col-sm-3 col-sm-offset-1">
			<img src = "{{user.profile_pic}}" class = "img-rounded img-responsive"></img>
		</div>
		<div class = "col-sm-7">
			<div class="page-header">
				<h1>{{user.first_name}} {{user.last_name}}</h1>
			</div>
			<p><b>About</b></p>
			<p>{{user.about}}</p><br></br>

			<a data-toggle="modal" data-target="#editProfileModal" class="btn btn-default profile-info" ng-show='isAuthorized'>Edit profile</a>
			<a class="btn btn-default profile-info" style="background-color: #808080" ng-show='isAuthorized' ng-click="deleteProfile()">Delete account</a>

			<ul class="nav nav-tabs" data-tabs="tabs">
			  <li class="active"><a data-toggle="tab" data-target="#organize">Events I organize</a></li>
			  <li><a data-toggle="tab" data-target="#going">Events I'm going to</a></li>
			</ul>

			<div class="tab-content profile-info"> 
			  <div id="organize" class="tab-pane fade in active">
			    <div ng-repeat = "event in events_org">
			    <ul >
			    	<li><a href="#!/event/{{event.id}}">{{event.title}}</a></li>
			    </ul>
			    </div>
			  </div>
			  <div id="going" class="tab-pane fade">
			    <div ng-repeat = 'event in events_go'>
			    <ul>
			    	<li><a href="#!/event/{{event.id}}">{{event.title}}</a></li>
			    </ul>
			    </div>
			  </div>
			</div> 	
		</div>


<div id="editProfileModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h1>Edit Profile</h1>
	      </div>

	      <div class="modal-body">
	      		<div class="container-fluid">
					<div class="col-sm-6">
						<form name="editProfileForm">

							<div class="form-group">
								<label for="first_name">First name:</label>
								<input type="text" class="form-control" name="first_name" ng-model="first_name" placeholder="eg. Phuc"/>
							</div>

							<div class="form-group">
								<label for="last_name">Last name:</label>
								<input type="text" class="form-control" name="last_name" ng-model="last_name" placeholder="eg. Nguyen"/>				
							</div>

							<div class="form-group">
								<label for="profile_pic">Profile Picture:</label>
								<input type="text" class="form-control" name="profile_pic" ng-model="profile_pic" placeholder="eg: url http://myprofilepic"/>				
							</div>

							<div class="form-group">
								<label for="about">About:</label>
								<input type="text" class="form-control" name="about" ng-model="about" placeholder="tell others a little bit about you"/>				
							</div>

							<button type="submit" class="btn btn-default" style="margin-top: 10px" data-dismiss="modal" ng-click="editProfile()">Submit</button>
						</form>
					</div>

				</div>
		      </div>
		</div>
	</div>
</div>

</div>
</div>